<section class="section-black">
  <img
    class="iphone-xs"
    src="./../../assets/applewatch.jpg"
    alt="appleproducts"
  />
</section>

<section class="section-black" style="background-color:lavenderblush">
  <h2 class="headline">
    Apple Watch <br />
    series 4
  </h2>
  <h3 class="subhead">
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img
    class="iphone-xs"
    src="./../../assets/applewatch1.jpg"
    alt="appleproducts"
  />
</section>
