<section class="section-black">
  <h2 class="headline">MacBook Pro</h2>
  <h3 class="subhead">
    More power. <br />
    More performance. <br />
    More pro.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img
    class="macbookpro"
    src="./../../assets/macbookpro.jpg"
    alt="appleproducts"
  />
</section>

<section class="section-black">
  <h2 class="headline">Mac mini</h2>
  <h3 class="subhead">
   Re-engineered in no small way.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img class="macmini" src="./../../assets/macmini.jpg" alt="appleproducts" />
</section>
