<section class="section-black">
  <h2 class="headline">iPhone X r</h2>
  <h3 class="subhead">
    All-screen design. Longest battery life ever in an iPhone. <br />
    Fastest performance. Studio-quality photos.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img
    class="iphone-xs"
    src="./../../assets/iphone-xs1.jpeg"
    alt="appleproducts"
  />
</section>

<section class="section-black">
  <h2 class="headline">iPhone X s</h2>
  <h3 class="subhead">
    Largest Super Retina display. Fastest performance <br />
    A12 Bionic. Most secure facial authentication with Face ID. <br />
    Breakthrough dual camceras with Depth Control.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img class="iphone-xs" src="./../../assets/iphone-xs.jpeg" alt="appleproducts" />
</section>
