<section class="section-black">
  <h2 class="headline">iPhone X</h2>
  <h3 class="subhead">
    All-screen design. Longest battery life ever in an iPhone. <br />
    Fastest performance. Studio-quality photos.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img
    class="iphone-xs"
    src="./../../assets/iphone-xs.jpeg"
    alt="appleproducts"
  />
</section>

<section class="section-black">
  <h2 class="headline">iPad Pro</h2>
  <h3 class="subhead">
    Like a computer. <br />
    Unlike any computer.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img class="iphone-xs" src="./../../assets/ipadpro.jpg" alt="appleproducts" />
</section>
<!-- <picture>
  <img src="./../../assets/appletech.jpg" alt="appleproducts" />
  <img src="./../../assets/appleproductlineup.jpg" alt="appleproducts" />
</picture> -->
