<section class="section-black">
  <h2 class="headline">iPad Pro</h2>
  <h3 class="subhead">
    All new. All screen. <br />
    All powerful
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img
    class="iphone-xs"
    src="./../../assets/ipadpro1.jpeg"
    alt="appleproducts"
  />
</section>

<section class="section-black" style="background-color: white">
  <h2 class="headline">iPad</h2>
  <h3 class="subhead" style="color:black">
    Like a computer. <br />
    Unlike any computer.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img class="ipadpro" src="./../../assets/ipad.jpeg" alt="appleproducts" />
</section>
