<section class="section-black">
  <img
    class="iphone-xs"
    src="./../../assets/appletv1.jpg"
    alt="appleproducts"
  />
  <h2 class="headline">
    Apple tv 4k <br />
    Cinematic in every sense.
  </h2>
  <h3 class="subhead">
    Apple TV 4k lets you watch movies and shows in amazing 4K HDR -- <br />
    and now it completes the picture with immersive sound from <br />
    Dolby Atmos. It streams your favorite channels live. Has great content
    <br />from apps like Netflix, Amazing Prime Video, and ESPN. And thanks to
    <br />
    Siri, you can control it all with just your voice.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
</section>

<section class="section-black">
  <h2 class="headline">
    Apple TV App <br />
    Everything you watch. <br />
    on every screen.
  </h2>
  <h3 class="subhead">
    Apple TV App lets you browse content from over 100 video <br />
    without switching from one app to the next. You'll find movies <br />
    and shows, handpicked recommendations, and live sports and news. <br />
    The Apple TV App is already on Iphone, iPad, and Apple TV and works <br />
    seamlessly across them all. So if you stop watching in one place, you <br />
    can pick up where you left off on a difference device.
  </h3>
  <div class="cta-links">
    <a routerLink="iphone">Learn more</a> <a routerLink="search">Buy</a>
  </div>
  <img class="iphone-xs" src="./../../assets/appletv.jpg" alt="appleproducts" />
</section>
