<div class="wrapper">
  <div class="header">
    <ul class="navbar">
      <li routerLink="home" style="top:1px"><img src="./../../assets/apple-64.png" alt="applelogo" style="width:25px;height:auto;"></li>
      <li routerLink="mac">Mac</li>
      <li routerLink="ipad">iPad</li>
      <li routerLink="iphone">iPhone</li>
      <li routerLink="watch">Watch</li>
      <li routerLink="tv">TV</li>
      <li routerLink="music">Music</li>
      <li routerLink="support">Support</li>
      <li routerLink="search" style="top:1px"><img src="./../../assets/clipart742441.png" alt="searchicon" style="width:25px;height:auto;"></li>
    </ul>
  </div>
  <div class="body"><router-outlet></router-outlet></div>
  <div class="footer"></div>
</div>
